@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
@config "../../tailwind.config.js";

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../public/fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("../../public/fonts/SourceSansPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../../public/fonts/SourceSansPro-Light.woff2") format("woff2"),
    url("../../public/fonts/SourceSansPro-Light.woff") format("woff");
}

@keyframes nudge {
  0% {
    transform: translate(0, -40%)
  }

  50% {
    transform: translate(0, -200%)
  }

  90% {
    transform: translate(0, -40%)
  }

  100% {
    transform: translate(0, -40%)
  }
}

@keyframes shrink {
  0% {
    height: 160%;
  }

  100% {
    height: 100%;
  }
}

*,
*::before,
*::after {
  @apply box-border;
  font-family: inherit;
}

.container {
  @apply w-[calc(352px+368*((100vw-375px)/393))] max-w-[1376px] !mx-auto;
  @apply md:w-[calc(720px+480*((100vw-768px)/512))];
  @apply xl:w-[calc(1200px+176*((100vw-1280px)/256))];
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden max-w-0 max-h-0;
}

.page {
  @apply font-sans scroll-smooth;
}

.page__body {
  @apply m-0 leading-[1.2] text-platinum bg-onyx;
}

.header {
  @apply sticky top-0 z-40 duration-150;
  @apply md:-top-[143px];
  @apply xl:-top-[181px];

  &[data-header="sticky"] {
    @apply md:top-[-32px];
  }
}

.nav {
  @apply flex flex-col pt-[60px] pb-10 bg-[linear-gradient(to_top,transparent_0,#1f2937_40px)] duration-300;
  @apply xl:pb-[60px] xl:text-xl xl:bg-[linear-gradient(to_top,transparent_0,#1f2937_60px)];

  &[data-nav="shown"] {
    @apply bg-onyx;

    @media (min-width: 768px) {
      background: linear-gradient(to top, transparent 0, #1f2937 40px);
    }
  }
}

.nav__container {
  @apply grid grid-cols-[56px_1fr_56px] justify-between items-center gap-y-2 pb-2 border-khaki border-b;
  @apply md:flex;
  @apply xl:relative;
}

.nav__locale {
  @apply order-3 ml-auto;
  @apply md:ml-0;
}

.nav__logo {
  @apply order-2 my-0 duration-150 cursor-pointer;
  @apply md:absolute md:left-1/2 md:-translate-x-1/2 md:opacity-0 md:invisible md:scale-0;

  [data-header="sticky"] & {
    @apply md:opacity-100 md:visible md:scale-100;
  }

  [data-header="sticky"] [data-nav="shown"] & {
    @apply md:opacity-0 md:invisible md:scale-0;
  }
}

.nav__toggler {
  @apply flex justify-center items-center w-max h-7 p-[0_10px] rounded bg-transparent cursor-pointer border-none;
  @apply md:hidden md:px-[calc(10px+4*((100vw-768px)/512))];
  @apply xl:h-9 xl:px-[min(calc(14px+2*((100vw-1280px)/256)),16px)];

  [data-header="sticky"] & {
    @apply md:block;
  }
}

.nav__toggler-icon {
  @apply relative flex w-4 h-2 before:content-[''] after:content-[''] duration-150;
  @apply xl:w-5;

  span:first-of-type {
    @apply absolute left-0 top-0 w-full h-[1px] rounded-full bg-platinum duration-150;
  }

  span:last-of-type {
    @apply absolute left-0 bottom-0 w-1/2 h-[1px] rounded-full bg-platinum duration-150;
  }

  [data-nav="shown"] & {
    @apply h-[10px];
    @apply xl:h-[13px];

    span:first-of-type {
      @apply bg-khaki rotate-[38deg] w-[15px] origin-left;
      @apply xl:w-[20px];
    }

    span:last-of-type {
      @apply bg-khaki -rotate-[38deg] w-[15px] origin-left;
      @apply xl:w-[20px];
    }
  }
}

.nav__list {
  @apply fixed left-0 top-[137px] z-20 flex flex-col w-screen h-[calc(100%-137px-128px)] list-none px-0 py-4 m-0 items-center text-inherit font-light overflow-auto backdrop-blur-[120px] invisible opacity-0 duration-150 bg-khaki/5 origin-left;
  @apply md:opacity-100 md:visible md:static md:w-auto md:h-auto md:flex-row md:bg-transparent md:overflow-visible md:py-0 md:gap-x-1;
  @apply xl:font-normal;

  [data-nav="shown"] & {
    @apply visible opacity-100;
  }

  [data-header="sticky"] & {
    @apply md:opacity-0 md:invisible md:scale-0;
  }

  [data-header="sticky"] [data-nav="shown"] & {
    @apply md:opacity-100 md:visible md:scale-100;
  }
}

.nav__item {
  &:first-child {
    @apply md:hidden;
  }
}

.nav__link {
  @apply relative z-0 flex items-center h-7 px-[calc(10px+4*((100vw-768px)/512))] mb-2 leading-none text-inherit no-underline duration-150 rounded;
  @apply md:mb-0 md:text-[min(calc(16px+4*((100vw-768px)/512)),20px)];
  @apply xl:h-9 xl:px-[min(calc(14px+2*((100vw-1280px)/256)),16px)];

  &::after {
    content: "";
    @apply absolute left-1/2 top-full h-px rounded-full bg-khaki -translate-x-1/2 translate-y-[6px] duration-150 w-0 md:translate-y-[7px] md:h-[3px];
  }

  &:hover,
  &[data-current] {
    @apply bg-platinum/20 text-khaki;

    &::after {
      @apply w-4 md:w-[18px];
    }
  }
}

.nav__contacts {
  @apply fixed left-0 bottom-0 z-20 flex items-center justify-between w-screen h-32 px-[calc((100vw-(352px+368*((100vw-375px)/393)))/2)] py-0 m-0 list-none bg-[linear-gradient(to_bottom,transparent_0,#1f2937_40px)] duration-150;
  @apply md:static md:w-auto md:h-auto md:p-0 md:ml-auto md:mr-2;
  @apply xl:mr-1;

  [data-nav="shown"] & {
    @apply bg-onyx;
  }
}

.nav__contact-link {
  @apply relative flex p-[10px] text-inherit duration-150 rounded;

  &:hover {
    @apply text-khaki;
  }

  &:active {
    @apply text-khaki;
  }

  &.nav__contact-link--tel {
    @apply md:justify-center md:items-center md:gap-x-2 md:h-9 md:px-[calc(10px+4*((100vw-768px)/512))] md:py-0 md:font-light md:leading-none md:text-[min(calc(16px+4*((100vw-768px)/512)),20px)] md:no-underline;

    &::after {
      content: "";
      @apply md:absolute md:left-1/2 md:top-full md:h-[3px] md:rounded-full md:bg-khaki md:-translate-x-1/2 md:translate-y-[7px] md:duration-150 md:w-0;
    }

    &:hover {
      @apply md:bg-platinum/20;

      &::after {
        @apply md:w-[18px];
      }
    }

    &:active {
      @apply md:bg-platinum/20;

      &::after {
        @apply md:w-[18px];
      }
    }
  }

  &.nav__contact-link--mail {
    @apply md:hidden;
  }
}

.nav__contact-icon {
  &.nav__contact-icon--tel {
    @apply flex w-4 h-auto;
    @apply md:w-[min(calc(13px+3*((100vw-768px)/512)),16px)];
  }

  &.nav__contact-icon--mail {
    @apply flex w-5 h-auto;
  }
}

.nav__mail-dot {
  animation-name: nudge;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  @apply absolute right-[10px] flex w-[6px] h-[6px] bg-khaki rounded-full translate-x-[40%];
  @apply xl:w-2 xl:h-2 2xl:w-[10px] 2xl:h-[10px];

  .nav__contact-link:hover & {
    @apply bg-platinum;
  }
}

.locale {
  @apply relative flex items-center;
  @apply xl:h-9;
}

.locale__toggler {
  @apply relative z-10 flex justify-center items-center gap-1 p-[0_10px] text-base text-inherit uppercase font-light bg-transparent border-none rounded-[3px] cursor-pointer duration-150;
  @apply md:px-[calc(10px+4*((100vw-768px)/512))] md:text-[min(calc(16px+4*((100vw-768px)/512)),20px)];
  @apply xl:h-9 xl:px-[min(calc(14px+2*((100vw-1280px)/256)),16px)] xl:font-[400];

  &:active {
    @apply bg-khaki/20;
  }

  &:hover {
    @apply bg-khaki/20;
  }
}

.locale__icon {
  @apply block min-w-[7px] duration-150;
  @apply xl:min-w-2;

  [data-locale="shown"] & {
    @apply scale-y-[-1];
  }
}

.locale__list {
  @apply hidden list-none p-0 m-0 duration-150;

  [data-locale="shown"] & {
    @apply absolute left-[-2px] top-[-2px] flex flex-col gap-[2px] w-[calc(100%+4px)] p-[2px] pt-[28px] rounded bg-khaki/10 backdrop-blur-xs;
    @apply md:pt-[calc(28px+6*((100vw-768px)/512))];
    @apply xl:pt-10;
  }
}

.locale__link {
  @apply flex justify-start items-center gap-1 w-full px-[10px] text-base text-inherit no-underline uppercase font-light rounded-[3px] duration-150;
  @apply md:px-[calc(10px+4*((100vw-768px)/512))] md:text-[min(calc(16px+4*((100vw-768px)/512)),20px)];
  @apply xl:h-9 xl:px-[min(calc(14px+2*((100vw-1280px)/256)),16px)] xl:font-[400];

  &:active {
    @apply bg-khaki/20;
  }

  &:hover {
    @apply bg-khaki/20;
  }
}

.logo {
  @apply flex w-max h-max mx-auto;

  [data-header="sticky"] & {
    @apply xl:flex xl:left-1/2 xl:top-0 xl:-translate-x-1/2 xl:translate-y-1/2 xl:duration-150;
  }
}

.logo__image {
  @apply w-32 h-auto;

  [data-header="sticky"] & {
    @apply xl:min-w-[153px] xl:h-auto;
  }
}


















.pattern {
  animation-name: pattern;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.title {
  @apply text-[calc(18px+6*((100vw-375px)/(768-375)))] pl-[10px] font-normal uppercase leading-[1.2] md:text-[calc(24px+10*((100vw-768px)/(1280-768)))] md:pl-[calc(10px+4*((100vw-768px)/512))] xl:text-[clamp(34px,calc(34px+6*((100vw-1280px)/(1536-1280))),40px)] xl:pl-[calc(14px+2*((100vw-1280px)/(1536-1280)))] 2xl:pl-[15px];

  small {
    font-size: inherit;
    line-height: inherit;
    @apply font-light;
  }
}

.button {
  @apply relative z-0 flex items-center justify-center h-8 gap-2 rounded-[7px] duration-150 bg-platinum/20 border-none text-platinum text-sm p-[0_10px] mb-2 cursor-pointer leading-none md:text-[calc(14px+4*((100vw-768px)/512))] xl:text-[min(calc(18px+2*((100vw-1280px)/256)),20px)] xl:h-[min(calc(32px+4*((100vw-1280px)/256)),36px)] xl:px-[min(calc(10px+2*((100vw-1280px)/256)),12px)];

  &:hover {
    @apply text-khaki;
  }

  &::after {
    content: "";
    @apply absolute top-[calc(100%+8px)] w-0 h-px bg-khaki duration-150;
  }

  &:active::after,
  &:hover::after {
    @apply w-4 xl:w-5;
  }
}

.button__icon {
  @apply flex min-w-[17px] w-[17px] h-[17px] duration-150 xl:min-w-[min(calc(17px+3*((100vw-1280px)/256)),20px)] xl:h-[min(calc(17px+3*((100vw-1280px)/256)),20px)];
}

.tenant-services-swiper,
.owner-services-swiper,
.projects-swiper {
  .swiper-wrapper {
    @apply list-none m-0 p-0;
  }

  .swiper-wrapper {
    @apply xl:flex xl:justify-center xl:!transform-none;
  }

  .swiper-slide {
    @apply relative z-0 w-max xl:max-h-[min(calc(93px+16*((100vw-1280px)/256)),109px)] xl:flex xl:items-start;

    button {
      @apply absolute left-0 top-0 w-full h-full border-none bg-transparent text-inherit cursor-pointer text-center z-10 whitespace-pre-line text-[12px] duration-150 md:text-[calc(12px+3*((100vw-768px)/512))] xl:text-[min(calc(18px+2*((100vw-1280px)/256)),20px)];
    }

    svg {
      stroke-opacity: 0;
      @apply flex w-[calc(216px+17*((100vw-375px)/393))] -mx-[calc(28px+2*((100vw-375px)/393))] duration-150 aspect-[216/62] md:w-[calc(233px+91*((100vw-768px)/512))] md:-mx-[calc(30px+12*((100vw-768px)/512))] xl:w-[min(calc(324px+56*((100vw-1280px)/256)),380px)] xl:-mx-[min(calc(42px+7*((100vw-1280px)/256)),49px)];
    }

    &:hover {
      button {
        @apply xl:text-[min(calc(21px+4*((100vw-1280px)/256)),24px)];
      }

      svg {
        @apply xl:w-[min(calc(388px+68*((100vw-1280px)/256)),456px)] xl:[stroke-opacity:100] xl:-mx-[calc(50px+4*((100vw-1280px)/256))];
      }
    }
  }

  .swiper-slide.odd {
    @apply xl:items-end;

    svg {
      @apply scale-y-[-1];
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    button {
      @apply md:text-[calc(14px+4*((100vw-768px)/512))] xl:text-[min(calc(18px+2*((100vw-1280px)/256)),20px)];
    }

    svg {
      @apply md:[stroke-opacity:100] xl:[stroke-opacity:0];
    }
  }

  .swiper-slide-active {
    button {
      @apply text-[14px] md:text-[calc(14px+4*((100vw-768px)/512))] xl:text-[min(calc(18px+2*((100vw-1280px)/256)),20px)];
    }

    svg {
      stroke-opacity: 100;
      @apply xl:[stroke-opacity:0];
    }
  }
}

.projects-swiper {
  .swiper-wrapper {
    @apply pb-[54px] md:pb-[82px] xl:pb-[88px];
  }

  .swiper-slide {
    button {
      @apply uppercase;
    }

    p {
      @apply absolute left-1/2 top-full leading-[1.2] -translate-x-1/2 mt-[10px] mb-0 text-center w-[280px] text-xs font-light duration-150 opacity-0 invisible md:w-[160px] xl:text-[14px] xl:w-[220px];
    }

    &:hover {
      p {
        @apply xl:opacity-100 xl:visible;
      }
    }
  }

  .swiper-slide-active {
    p {
      @apply opacity-100 visible xl:opacity-0 xl:invisible;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    p {
      @apply md:opacity-100 md:visible xl:opacity-0 xl:invisible;
    }
  }
}
