@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
@config "../../tailwind.config.js";

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../public/fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("../../public/fonts/SourceSansPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../../public/fonts/SourceSansPro-Light.woff2") format("woff2"),
    url("../../public/fonts/SourceSansPro-Light.woff") format("woff");
}
